doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    block head
      link(rel="stylesheet", href="/stylesheets/bootstrap_custom.css")
      link(rel="stylesheet", href="/stylesheets/theme.css")
    
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic")
  body
    a.scrolltop(href="#")
      span up

    include includes/navbar
    
    block content
        
    block common_scripts
    
    block scripts
      script.
        var lng = "!{lng}" || "pl";
        lng += "-" + lng;
        var action = "!{action}";

        var dojoConfig = {
          async: true,
          locale: lng,
          //baseUrl: "/dojo/dojo/",
          baseUrl: "/dojo-release/dojo/",
          packages: [
            //{name: "bootstrap", location: "../dojo-bootstrap"},
            //{name: "app", location: "../../javascripts/app"}
          ]
        };
      //script(src="/dojo/dojo/dojo.js")
      script(src="/dojo-release/dojo/dojo.js")
      script(src="/javascripts/boot.js")
      //include includes/head_js
      //include includes/head_release_js