<div data-dojo-attach-point="focusNode">
  <div id="box_sign">
    <div class="container">
      <div class="span12 box_wrapper">
        <div class="span12 box">
          <div>
            <div class="head">
              <h4 data-dojo-attach-point="titleNode"></h4>
            </div>
            <div class="form" data-dojo-attach-point="formNode">
              <form action="/register", method="POST" data-dojo-attach-point="formNode">
                <div class="alert-hidden alert-error" data-dojo-attach-point="errorNode"></div>
                <div class="alert-hidden alert-success" data-dojo-attach-point="successNode"></div>
                <div class="control-group" data-dojo-attach-point="usernameControlGroupNode">
                  <div class="controls">
                    <input type="text" name="username" placeholder="" data-dojo-attach-point="usernameNode">
                    <span class="help-inline-hidden" data-dojo-attach-point="usernameErrorNode"></span>
                  </div>
                </div>
                <div class="control-group" data-dojo-attach-point="emailControlGroupNode">
                  <div class="controls">
                    <input type="text" name="email" placeholder="" data-dojo-attach-point="emailNode">
                    <span class="help-inline-hidden" data-dojo-attach-point="emailErrorNode"></span>
                  </div>
                </div>
                <div class="control-group" data-dojo-attach-point="passwordControlGroupNode">
                  <div class="controls">
                    <input type="password" name="password" placeholder="" data-dojo-attach-point="passwordNode">
                    <span class="help-inline-hidden" data-dojo-attach-point="passwordErrorNode"></span>
                  </div>
                </div>
                <div class="control-group" data-dojo-attach-point="confirmPasswordControlGroupNode">
                  <div class="controls">
                    <input type="password" name="confirmPassword" placeholder="" data-dojo-attach-point="confirmPasswordNode">
                    <span class="help-inline-hidden" data-dojo-attach-point="confirmPasswordErrorNode"></span>
                  </div>
                </div>
                <input type="submit" value="" data-dojo-attach-point="submitNode">
              </form>
            </div>
          </div>
        </div>
        <p class="already">
          <span data-dojo-attach-point="alreadyNode"></span>
          <a href="/login" data-dojo-attach-point="loginNode"></a>
        </p>
      </div>
    </div>
  </div>
</div>